<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title><span th:text="#{studentlist}">Student List</span></title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span th:text="#{studentlist}">Student List</span></h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{firstname}">First Name</th>
                    <th scope="col" th:text="#{lastname}">Last Name</th>
                    <th scope="col" th:text="#{barCode}">BarCode</th>
                    <th scope="col" th:text="#{studentId}">Student ID</th>
                    <th scope="col"><span th:text="#{events}">Events</span> - <a th:href="@{/students/add}"><span th:text="#{add}">Add</span></a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}">
                    <td th:text="${student.id}">{{i + 1}}</td>
                    <td th:text="${student.firstName}">FirstName</td>
                    <td th:text="${student.lastName}">LastName</td>
                    <td th:text="${student.barCode}">BarCode</td>
                    <td th:text="${student.studentId}">Student ID</td>
                    <td>
                        <a th:href="@{/students/detail}"><span th:text="#{detail}">Detail</span></a>&nbsp;
                        <a th:href="@{/students/edit}"><span th:text="#{edit}">Edit</span></a>
                        <a th:href="@{/students/delete}"><span th:text="#{delete}">Delete</span></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary pull-right"><span th:text="#{previous}">Previous</span></button>
                    </td>
                    <td>
                        <button class="btn btn-primary"><span th:text="#{next}">Next</span></button>
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
