<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add New Student</h3>
        </div>
        <div id="formContent" class="panel-body">
            <form th:action="@{/students/add}" th:object="${studentModel}" method="post">

                <div class="form-group">
                    <label for="firstName" th:text="#{firstName}"></label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="First Name"/>
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert-danger"></label>
                </div>

                <div class="form-group">
                    <label for="lastName" th:text="#{lastName}"></label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last Name"/>
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert-danger"></label>
                </div>

                <div class="form-group">
                    <label for="barCode" th:text="#{barCode}"></label>
                    <input type="text" class="form-control" id="barCode" th:field="*{barCode}" placeholder="BarCode"/>
                    <label th:if="${#fields.hasErrors('barCode')}" th:errors="*{barCode}" class="alert-danger"></label>
                </div>

                <div class="form-group">
                    <label for="studentId" th:text="#{studentId}"></label>
                    <input type="number" class="form-control" id="studentId" th:field="*{studentId}" placeholder="Student ID"/>
                    <label th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}" class="alert-danger"></label>
                </div>

<!--                <div class="form-group">-->
<!--                    <label for="studentId" th:text="#{entry}"></label>-->
<!--                    <input type="number" class="form-control" id="entry" th:field="*{entry}" placeholder="entry"/>-->
<!--                    <label th:if="${#fields.hasErrors('entry')}" th:errors="*{entry}" class="alert-danger"></label>-->
<!--                </div>-->

                <div id="formFooter" class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
