<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Block</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add New Block</h3>
        </div>
        <div id="formContent" class="panel-body">
            <form th:action="@{/block/save-block}" th:object="${blockModel}" method="post">
                <div class="form-group">
                    <label for="startDate" th:text="#{startDate}"></label>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}"/>
                </div>

                <div class="form-group">
                    <label for="endDate" th:text="#{endDate}"></label>
                    <input type="date" class="form-control" id="endDate" th:field="*{endDate}"/>
                </div>

                <div class="form-group">
                    <label for="cancelledDays" th:text="#{cancelledDays}"></label>
                    <input type="number" class="form-control" id="cancelledDays" th:field="*{cancelledDays}"/>
                </div>
                <div id="formFooter" class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
