<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#blockSelect").change(function () {
                //alert($("#entrySelect").val());

                $.get("facultyExtraPoints?blockName=" + $("#blockSelect").val(), function (data) {

                    //$('body').html(data);
                    window.location.reload();

                });

            })
        });
    </script>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>
<body>

<!--
<tr th:each="student: ${entryReportModelTotal.entryReportModelPerStudentList}">
    <td th:text="${student.firstName}+' '+${student.lastName}"/>
    </br>

    <td th:text="${student.attendancePerBlock.forEach()}"/>

</tr>-->

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span th:text="#{facultyReport}">Faculty Extra Credit Report</span></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form th:object="${extraCreditModelSes}" method="get">
                    <div class="col-xs-1"><label for="blockSelect" th:text="#{block}"></label></div>
                    <div class="col-xs-3"><select id="blockSelect" th:field="*{selectedBlock}" class="form-control">
                                <!--<option value=""> &#45;&#45;</option>-->
                                <option th:each="block : ${blocks}"
                                        th:value="${block.name}"
                                        th:utext="${block.name}"/>
                            </select>
                        </div>
                </form>
            </div>

            <div class="row">
                <div th:each="student : ${extraCreditModelSes.data}" class="col-xs-4">
                    <span class="glyphicon glyphicon-user"></span>
                      <label th:text="${student.id}+' '+${student.firstName}+' '+${student.lastName}" style="font-weight: bolder"></label>
                      <p th:text="${student.extraPoint}" style="font-weight: bold"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
