<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#blockSelect").change(function () {
                //alert($("#blockSelect").val());

                $.get( "studentPersonalReport/"+$("#blockSelect").val(), function( data ) {

                    window.location.reload();

                });

            })
        });





    </script>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>
<body>


<form th:action="@{/studentPersonalReport}" th:object="${studentReportModelSes}" method="get">
    <div>

        <div class="form-group">
            <label for="totalSessionsPossible" th:text="#{totalSessionsPossible}"></label>
            <input type="text" class="form-control" id="totalSessionsPossible" th:field="*{totalSessionsPossible}"/>
        </div>

        <div class="form-group">
            <label for="totalSessionsAttended" th:text="#{totalSessionsAttended}"></label>
            <input type="text" class="form-control" id="totalSessionsAttended" th:field="*{totalSessionsAttended}"/>
        </div>

        <div class="form-group">
            <label for="percentageAttendedInTotal" th:text="#{percentageAttendedInTotal}"></label>
            <input type="text" class="form-control" id="percentageAttendedInTotal" th:field="*{percentageAttendedInTotal}"/>
        </div>

    </div>

    <div>

        <div class="form-group">
            <label for="blockSelect" th:text="#{block}"></label>
            <select id="blockSelect" th:field="*{selectedBlock}">
                <option value=""> -- </option>
                <option th:each="block : ${blocks}"
                        th:value="${block.name}"
                        th:utext="${block.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="sessionsInblock" th:text="#{sessionsInblock}"></label>
            <input type="text" class="form-control" id="sessionsInblock" th:field="*{sessionsInBlock}"/>
        </div>

        <div class="form-group">
            <label for="daysPresent" th:text="#{daysPresent}"></label>
            <input type="text" class="form-control" id="daysPresent" th:field="*{daysPresent}"/>
        </div>

        <div class="form-group">
            <label for="percentAttendance" th:text="#{percentAttended}"></label>
            <input type="text" class="form-control" id="percentAttendance" th:field="*{percentageAttended}"/>
        </div>

        <div class="form-group">
            <label for="extraCreditPoints" th:text="#{extraCreditPoints}"></label>
            <input type="text" class="form-control" id="extraCreditPoints" th:field="*{extraCredits}"/>
        </div>
    </div>

    <div>
        <table border="1">
            <thead>
            <tr>
                <th> Date </th>
                <th> Present </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${studentReportModelSes.datePresentDtoList}">
                <td><span th:text="${item.date}"> Title </span></td>
                <td><span th:text="${item.present}"> Author </span></td>
            </tr>
            </tbody>
        </table>
    </div>

</form>

</body>
</html>