<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TM Retreat And Checking</title>


    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span th:text="#{tmCheckingAndRetreat}">TM Checking And Retreat</span></h3>
        </div>
        <div class="panel-body">
            <input style="display: none" id="server" th:value="${@environment.getProperty('backendServerUrl')}" ></input>

            <div id="errors" class="errors" style="display:none"></div>
            <form id="tmRetreatAndCheckingForm" th:object="${tmCheckAndRetreat}" method="post">

                <input  style="display: none" id="studentIdKey"  th:field="*{student.id}">
                <input  style="display: none" id="id" th:field="*{id}"> <!-- so that Reset button works, hidden reset does not work -->
                <div class="form-group">
                    <label  th:text="#{student}"></label>
                    <input class="form-control" id="lblStudentID" value="98"
                        minlength="3" placeholder="Put Student ID, min 3 characters" maxlength="10"/>
                </div>

                <div class="form-group">
                    <label for="localDateTime" th:text="#{date}"></label>
                    <input type="date" class="form-control" id="localDateTime" th:field="*{localDateTime}"/>
                </div>
                <div >

                        <label for="retreat" th:text="#{isRetreat}">Is Retreat</label>
                        <input type="checkbox" id="retreat" th:field="*{retreat}" th:checked="*{retreat} ? 'checked'"/>

                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary js-save-tmretreatAndChecking" >Save</button>
                    <button type="button" class="btn btn-info js-view-tmretreatAndChecking" >View</button>
                    <button type="reset" class="btn " >Reset</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span>Result List</span></h3>
        </div>
        <div class="panel-body">


        <div id="dialog" title="Confirmation Required"  style="display:none">
            Are you sure about this?
        </div>

        <div >
            <ul class="pagination"> </ul>
        </div>
        <table id="tblResult" class="table table-striped">
            <colgroup>
                <col width="7%">
                <col width="15%">
                <col width="20%">
                <col width="15%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>Student ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Retreat/Checking</th>
                <th>Events</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script id="itemRow" type="text/x-jquery-tmpl">
  <tr>
    <td>${id}</td>
	<td>${student.studentId}</td>
	<td>${student.firstName} ${student.lastName}</td>
	<td>${localDateTime}</td>
	<td data-retreat="${retreat}">{{if retreat == true}}Retreat{{/if}} {{if retreat == false}}Checking{{/if}}</td>
	<td><a href="#" class="btn btn-primary js-retreat-checking-edit" data-id="${id}" >Edit</a> <a href="#" class="btn btn-danger js-retreat-checking-delete" data-id="${id}">Delete</a></td>
  </tr>
</script>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>