<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <link rel="stylesheet"  href="https://s3.us-east-2.amazonaws.com/tv-springboot/waa/waa.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="https://s3.us-east-2.amazonaws.com/tv-springboot/waa/waa.js"></script>
        <script>
            $(document).ready(function(){
                $("#enLang").click(function () {
                    console.log('en click');
/*                    console.log(this.innerHTML);
                    console.log(this.val);*/
                     window.location.replace('?lang=' + 'en');

                })

                $("#trLang").click(function () {
                    console.log('tr click');
                    /*                    console.log(this.innerHTML);
                                        console.log(this.val);*/
                    window.location.replace('?lang=' + 'tr');

                })

                $("#mnLang").click(function () {
                    console.log('mn click');
                    /*                    console.log(this.innerHTML);
                                        console.log(this.val);*/
                    window.location.replace('?lang=' + 'mn');

                })


            });
        </script>

    </div>




</head>
<body>

<div th:fragment="header">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse bg-success">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Meditation Attendance System</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:if="${session.token ==null}">
                    <a class="navbar-brand" th:href="@{/authorization/login}">Login</a>
                </li>
                <!--<li>-->
                    <!--<a class="navbar-brand" th:href="@{/authorization/login}">Register New User</a>-->
                <!--</li>-->
                <li th:if="${session.roles.contains('DATA_IMPORT')}">
                    <a class="navbar-brand" th:href="@{/fileUpload/show}">Import</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Reports
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:if="${!session.roles.contains('VIEW_BLOCK_REPORT')}" th:href="@{/facultyExtraPoints}">Faculty morning meditation</a></li>
                        <li><a th:if="${session.roles.contains('VIEW_BLOCK_REPORT')}" th:href="@{/StudentPersonalReport}">Student’s detail report</a></li>
                        <li th:if="${session.roles.contains('VIEW_ENTRY_REPORT')}"><a th:href="@{/entryReport}">Generate Attendance report by entry</a></li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">CRUDs
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:if="${session.roles.contains('VIEW_ENTRY_REPORT')}" ><a th:href="@{/students/list}">Students</a></li>
                        <li th:if="${session.roles.contains('VIEW_ENTRY_REPORT')}" ><a th:href="@{/blocks/list}">Blocks</a></li>
                        <li th:if="${session.roles.contains('VIEW_ENTRY_REPORT')}" ><a th:href="@{/entries/list}">Entries</a></li>


                        <li th:if="${session.roles.contains('TMCHECK_CRUD')}" ><a th:href="@{/retreat-checking}">TM Check & Retreat</a></li>


                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Language
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a id="enLang" val="en">English</a></li>
                        <li><a id="trLang">Turk</a></li>
                        <li><a id="mnLang">Mongolia</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/authorization/logout}"></form>
                </li>
            </ul>
        </nav>
    </div>

    <input type="hidden" th:value="${session.token}" id="token" >
</div>

</body>
</html>
